body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8cd9d2
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.media-object {
    height: 100px;
}

/* Logo */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  height: 60px;
}

.card {
  text-align: center;
  border: #f55ca6 solid 3px;
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  background: transparent;
  transition: transform .2s;
}

.images {
  position: relative;
  bottom: 50px;
  left: 15px;
  height: 300px;
  width: auto;
}

.addToCart {
  background-color: #f55ca6;
  font-size: 18px;
  padding: 10px 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: -50px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  left: -5px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #8cd9d2;
  color: black;
  transform: rotateY(180deg);
}

/* Delete Button on Cards*/
.delete {
  background-color: #8cd9d2;
  border: none;
}

.search-bar {
  border: 1px solid #f55ca6;
  height: 27px;
}

.search-button {
  background-color: #8cd9d2;
  height: 30px;
}

 /* Search - Clear Button */
.clear {
  height: 32px; 
  border: 1px solid #f55ca6;
}

.form{
  float: center;
}


.customer-form {
  width: 400px;
  /* position: relative; */
  top: 0px;
  left: 390px;
  color: #f55ca6;
  /* float: center; */
}
